$dropdown-content-background-color: $color-charlie;
$dropdown-item-color: $grey;
$dropdown-item-hover-color: $white;
$dropdown-divider-background-color: $color-delta;
$dropdown-item-hover-background-color: transparent;

.dropdown-content {
  border: 1px solid $color-delta !important;
}

.dropdown-more .icon {
  max-height: 0 !important;
  font-size: 0.7rem !important;
}

.menu-title {
  color: $white !important;
  font-weight: bolder !important;
}

.menu-item {
  display: block !important;
  margin-left: 10px !important;
  position: relative !important;
}

.menu-item > a {
  transition: color 175ms ease-out !important;
}
