$navbar-background-color: transparent;
$navbar-item-color: $white-medium-emphasis;
$navbar-item-hover-color: $white-high-emphasis;
$navbar-item-hover-background-color: transparent;
$navbar-burger-color: $white-medium-emphasis;

.navbar-burger {
  color: $white-medium-emphasis !important;
}

.router-link-active {
  color: $white-high-emphasis !important;
}
