$navbar-background-color: transparent;
$navbar-item-color: $grey;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-burger-color: $grey;
$navbar-padding-horizontal: 0;

.navbar-burger {
  color: $grey !important;
}

.router-link-active {
  color: $white !important;
}
