@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$family-primary: 'Open Sans', sans-serif;

// Custom colors
$color-bravo: rgb(23, 24, 27);
$color-charlie: rgb(36, 37, 42);

$white-high-emphasis: rgba(255, 255, 255, 0.87);
$white-medium-emphasis: rgba(255, 255, 255, 0.6);
$hr-color: rgba(255, 255, 255, 0.1);
$border-radius: 0.5rem;
$button-border-radius: 4px !important;

// Bulma colors override
$primary: rgb(100, 201, 255);
$dark: $color-bravo;
$danger: rgb(255, 102, 102);

// Footer
$footer-background-color: $color-charlie;

@import './scss/misc.scss';
@import './scss/navbar.scss';
@import './scss/loader.scss';

@import '~bulma';
@import '~buefy/src/scss/buefy';
