@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$family-primary: 'Open Sans', sans-serif;

// Custom colors
$color-bravo: rgb(13, 17, 23);
$color-charlie: rgb(22, 27, 34);
$color-delta: rgb(33, 38, 45);

$white-high-emphasis: rgba(255, 255, 255, 0.87);
$white-medium-emphasis: rgba(255, 255, 255, 0.6);
$border-radius: 0.5rem;
$button-border-radius: 4px !important;

// Bulma colors override
$primary: rgb(88, 166, 255);
$success: rgb(126, 231, 135);
$warning: rgb(242, 204, 96);
$danger: rgb(255, 123, 114);
$white: $white-high-emphasis;
$grey: $white-medium-emphasis;
$dark: $color-bravo;

// Typography
$title-color: $white-high-emphasis !important;
$subtitle-color: $white-medium-emphasis !important;

// Footer
$footer-background-color: $color-charlie;

body,
html {
  background-color: $color-bravo !important;
}

@import './scss/navbar.scss';
@import './scss/dropdown.scss';
@import './scss/loader.scss';
@import './scss/background.scss';

@import '~bulma';
@import '~buefy/src/scss/buefy';
