@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$family-primary: 'Open Sans', sans-serif;

// Custom colors
$color-alpha: rgb(100, 204, 240);
$color-bravo: rgb(36, 37, 42);
$color-charlie: rgb(23, 24, 27);

$white-opacity-full: rgb(255, 255, 255);
$white-opacity-lightner-5: rgba(255, 255, 255, 0.5);
$hr-color: rgba(255, 255, 255, 0.1);
$border-radius: 0.5rem;

// Bulma colors override
$primary: $color-alpha;
$dark: $color-bravo;
$danger: rgb(255, 102, 102);

// Footer
$footer-background-color: $color-charlie;

@import './scss/misc.scss';
@import './scss/navbar.scss';
@import './scss/loader.scss';

@import '~bulma';
@import '~buefy/src/scss/buefy';
