body, html {
    background-color: $color-bravo !important;
}

.has-text-gradient {
    background: -webkit-linear-gradient(#fff, $color-alpha-opacity-lightner-2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-burger {
    color: $white-opacity-lightner-5 !important;
}