$navbar-background-color: transparent;
$navbar-item-color: $white-light;
$navbar-item-hover-color: $white-primary;
$navbar-item-hover-background-color: transparent;

$dropdown-content-background-color: $darker;
$dropdown-item-color: $white-light;
$dropdown-item-hover-color: $white-primary;
$dropdown-divider-background-color: rgba(255, 255, 255, 0.1);
$dropdown-item-hover-background-color: transparent;

// burger
$navbar-burger-color: $white-light;